.subtasks {
    list-style-type: none; /* Прибираємо маркери списку */
    padding: 0; /* Прибираємо паддінг для списку */
    margin: 0 0 1em 0; /* Невеликий відступ знизу */
  }
  
  .subtask {
    background-color: #f0f0f0; /* Світло-сірий фон для сабтасок */
    padding: 0.5em 1em;
    width: 130px; /* Паддінг для зручного відступу всередині */
    margin-bottom: 0.5em; /* Відступ між сабтасками */
    border-radius: 5px; /* Згладжені краї для блоків сабтасок */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .subtask:hover {
    background-color: #e0e0e0; /* Трохи темніший фон при наведенні */
  }
  
  .addButton {
    width: 130px;
    height: 30px;
    background-color: #17a2b8; /* Зелений колір кнопки */
    color: white; /* Білий текст */
    border: none; /* Прибираємо бордер */
   
    border-radius: 5px; /* Згладжені краї кнопки */
    cursor: pointer; /* Зміна курсора на "руку" */
    font-size: 1em; /* Розмір шрифту */
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #17a2b8; /* Темніший зелений при наведенні */
  }
  