/* banner.css */


.banner {
    background-color: #fff; /* Keep the banner background black */
    padding: 44px 75px 0px;
    display: flex;
    justify-content: space-between;
    align-items:self-start;
    height: 100vh; /* Full viewport height */
    height: 600px;
    position: relative;
}

.bannerText {
    color: white;
    text-align: center;
    max-width: 600px; /* Limit the width of the content */
}

.title{
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 64px;
    text-align: left;
    line-height: 1.5;
    width: 670px;
    word-spacing: 14px;
    
}
.line1 {
    display: block; /* Перенос на новий рядок */
    margin-left: 85px; /* Відступ для першого рядка */
  }
  
  .line2 {
    display: block; /* Перенос на новий рядок */
  
  }
  .text{
    margin-top: 29px;
    color: #999999;
    text-align: left;
    font-size: 32px;
    margin-left: 20px;
  }

  .pictute{
    width: 439px;
    height: 478px;
    margin-top: 40px;
  }
.oval{
   
    position: absolute;
    height: 131px;
    top: 23px;
}
.star{
    position: absolute;
    height: 67px;
    top: 254px;
    left: 290px;
}
.arrow{
   
    position: absolute;
    height: 155px;
    top: 381px;
    left: 567px;
    width: 369px;
}