.form {
  display: flex;
      flex-direction: column;
      align-items: center;
   
      width: 580px;
}

.label {
  font-family: 'Lohit Devanagari', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #000000;
  font-weight: 500;
  
}

.span {
  

  color: #000000;
  font-weight: 500;
  font-size: 20px;
  
}

.input {
  width: 580px;
  height: 68px;
  padding: 10px;
  border: 1px solid #433ECC;
  border-radius: 10px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

}


.input:focus {
  
  box-shadow: 0 0 5px rgba(140, 82, 255, 0.5);
}

.button {
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background: #433ECC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 580px;
  height: 68px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button:hover {
  background: #5a33b5;
}



.footer {
  font-family: 'Lohit Devanagari', sans-serif;
  font-size: 20px;
  color: #999999;
}

.footer a {
  color: #233FD3;
  text-decoration: none;
  
  margin-left: 15px;
}

.footer a:hover {
  text-decoration: underline;
}
