.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(145deg, #ffffff, #f0f0f3);
  box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.span {
  font-size: 14px;
  color: #6d6d6d;
  margin-bottom: 5px;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 14px;
  transition: border-color 0.3s;
}

.input:focus {
  border-color: #8c52ff;
  box-shadow: 0 0 5px rgba(140, 82, 255, 0.5);
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background: #233FD3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background: #5a33b5;
}



.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #6d6d6d;
}

.footer a {
  color: #233FD3;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}
