.reactcalendar {
    border-radius: 10px !important;
    border: 0 !important;
    width: 170px !important;
    height: 180px;
    background-color: #fff;
    overflow: hidden
}
.highlightTask {
    background-color: #233FD3 !important; /* Колір для днів з завданнями */
    color: #fff;
    border-radius: 5px;
    height: 20px;
  
}

.customMonthYear {
    font-size: 12px !important; /* Розмір тексту місяця і року */
    font-weight: bold !important;
    color: #233FD3 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.taskList {
   
    opacity: 0;
    animation: fadeIn 0.5s forwards; /* Анімація появи */
    width: 305px;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px); /* Початкове положення: знизу */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Завершальне положення: на місці */
    }
}

.taskItem {
    width: 170px;
    height: 34px;
   font-size: 16px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    opacity: 0;
    animation: fadeInItem 0.5s forwards; /* Анімація для кожного елемента */
    animation-delay: 0.2s; /* Затримка для кожного елемента */
}

@keyframes fadeInItem {
    0% {
        opacity: 0;
        transform: translateY(10px); /* Початкове положення елементів */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Завершальне положення елементів */
    }
}
.taskItem {
    width: 170px;
    height: 34px;
    font-size: 14px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #ffff; /* Сірий фон для невиконаних */
    display: flex;
    align-items: center; /* Вирівнювання по вертикалі */
    justify-content: center; /* Вирівнювання по горизонталі */
    position: relative;
    text-align: center; /* Вирівнювання тексту по центру */
    transition: all 0.3s ease;
}

.taskItem.completed {
    
    background-color: #FF6884;
    color: white; 
   
    
}

.taskCompletedIcon {
    margin-right: 4px;
}



.taskItem .taskName {
    color: #333; /* Чорний колір тексту для всіх тасок */
    font-size: 16px;
}

.taskItem.completed .taskName {
    color: #4caf50; /* Зелений колір тексту для виконаних тасок */
    text-decoration: line-through; /* Перечеркнутий текст для виконаних */
    font-weight: bold;
}
.reactcalendar .react-calendar__tile--now {
    background-color: #d3d3d3;  /* Сірий колір для сьогоднішнього дня */
    color: black ; /* Чорний текст */
    font-weight: bold !important;
    
   
    width: 10px;
    ;
}

.reactcalendar .react-calendar__tile--now:hover {
    background-color: #bdbdbd !important; /* Трохи темніший сірий при наведенні */
    transform: scale(1.05) !important; /* Легке збільшення */
}

.react-calendar__tile--active {
    background: #8d9092 !important;
    color: white !important;
}

.react-calendar__tile--active {
    background: white !important;
    color: white !important;
}

.react-calendar__tile--now {
    background: gainsboro !important;
}
.reactcalendar .react-calendar__tile--now {
    background-color: #d3d3d3 !important; /* Сірий колір для сьогоднішнього дня */
    color: black !important; /* Чорний текст */
    font-weight: bold !important;
   
    transition: transform 0.2s !important; /* Анімація при взаємодії */
}

.reactcalendar .react-calendar__tile--now:hover {
    background-color: #bdbdbd !important; /* Трохи темніший сірий при наведенні */
    transform: scale(1.05) !important; /* Легке збільшення */
}


.reactCalendar__tileNow {
    background-color: #bab7b7;
    color: #fff;
    border-radius: 5px;
    height: 20px;
  }


  .task_you{
    margin-top: 28px;
    margin-bottom: 8px;
   
    font-weight: 400; /* Regular */
    font-size: 16px;
    color: #fff;

  }

