/* login-page.module.css */
.loginPage {
    display: flex;
    height: 700px;
    justify-content:center;
    align-items: center;
    position: relative;
    background-color: #fff;
    max-width: 1550px;
}

.formSide {
    height: 100%;
    display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    padding: 50px 70px 50px 129px;
    width: 779px;
}

.logo {
    width: 141px;
    height: 32px;
    margin-bottom: 15px;
}

.title {
    font-size: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #433ECC;
    line-height: 1.4;
}










.textSide {
    width: 770px;
    height: 706px;
    background-color: #433ECC;
    padding: 40px;
    text-align: left;
    color: #333;
    padding-top: 70px;
    padding: 50px 70px 50px 70px;
}

.userSection{
    font-family: 'Lohit Devanagari', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 26px;
    
    
}
.userGreeting{
    color: #fff;
    margin-left: 3px;
}
.title_text{
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
    line-height: 1.4;
    margin-bottom: 50px;
}
.photo_list{
    display: flex;
    margin-bottom: 50px;
}
.photo{
    margin-right: 52px;
    width: 126px;
    height: 89px;
}
.photo:last-child{
    margin-right: 0;
}
.descriptionSection{
    background-color: #fff;
    width: 580px;
    height: 160px;
    border-radius: 10px;
    padding: 54px 43px 54px 46px;
    position: relative;
    padding-left: 45px;

   
}
.descriptionText{
    font-family: 'Lohit Devanagari', sans-serif;
    font-size: 20px;
    color: #433ECC;
    margin-left: 20px;
}
.comas_list{
    display: flex;
    position: absolute;
    left: 408px;
    top: 115px;
}
.coma{
    margin-right: 14px;
}
.arrow{
    margin-top: 29px;
}