.taskItem {
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.top_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.name_container{
    width: 200px;
}

.name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

.progress {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.description {
   
   
   
    
}
.description_container{
    width: 320px;
    height: 215px;
    background-color: #e0e0e0;
    border-radius: 8px;
}

.subtasks {
    padding-left: 20px;
    margin-bottom: 15px;
}

.subtask {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 5px;
}

.button {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #004085;
}


.button_done {
    background-color: #4caf50; /* Зелений колір для позначення виконання */
    color: white; /* Білий колір тексту */
    border: none; /* Відсутність рамки */
    padding: 0.5em 1em; /* Відступ для зручності натискання */
    border-radius: 5px; /* Згладжені краї кнопки */
    cursor: pointer; /* Курсор у вигляді руки */
    font-size: 1em; /* Розмір шрифту */
    transition: background-color 0.3s ease; /* Плавний перехід для зміни фону */
  }
  
  .button_done:hover {
    background-color: #45a049; /* Темніший зелений при наведенні */
  }
  
  .button_delete {
    background-color: #f44336; /* Червоний колір для видалення */
    color: white; /* Білий колір тексту */
    border: none; /* Відсутність рамки */
    padding: 0.5em 1em; /* Відступ для зручності натискання */
    border-radius: 5px; /* Згладжені краї кнопки */
    cursor: pointer; /* Курсор у вигляді руки */
    font-size: 1em; /* Розмір шрифту */
    transition: background-color 0.3s ease; /* Плавний перехід для зміни фону */
  }
  
  .button_delete:hover {
    background-color: #d32f2f; /* Темніший червоний при наведенні */
  }
  
  .button_container {
    display: flex; /* Вирівнювання кнопок в один ряд */
    gap: 0.5em; /* Відстань між кнопками */
    justify-content: end;
  }
  